@model VocalSpace.Models.ViewModel.Selection.SelectionFormViewModel
@{
	ViewData["Title"] = "參加"+Model.Title;
}
<section class="content ">
	<div class="content__area">
		<h1>徵選報名表</h1>
		@* 顯示表單報名狀態 *@
		<div class="content__area-state">
			<img src="@(Model.ApplyStatusPath)" />
			<h2>@(Model.ApplyStatusText)</h2>
		</div>

		<div class="content__area-form">

			@* 顯示活動資訊 *@
			<div class="content__area-form-title">
				<div class="content-form-img-cover">
					<img src="@(Model.SelectionCoverPath)" />
				</div>
				<div class="content-form-text">
					<p>活動名稱:&nbsp; <span style="color:darkgoldenrod">@Model.Title</span></p>
					<p>徵選截止日:&nbsp;<span style="color:darkgoldenrod">@Model.EndDate</span></p>
					<p>
						徵選狀態:&nbsp; <span style="color:@(Model.JoinState == "開放中" ? "#8B0000" : "gray")">@Model.JoinState</span>
					</p>
					<p>
						投票狀態:&nbsp; <span style="color:@(Model.VoteState == "開放中" ? "#8B0000" : "gray")">@Model.VoteState</span>
					</p>
				</div>
			</div>

			@* 顯示表單 *@
			<div class="content-form">
				<ol class="content-form-list">
					@* li 表單填寫內容區 *@
					<li class="border-bottom">
						<p> 姓名</p>
						<span class="content-form-input input-name">@(Model.UserName)</span>
					</li>
					<li class="border-bottom">
						<p> 電子信箱</p>
						<span class="content-form-input input-email">@(Model.Email)</span>
					</li>
					@* li 上傳作品區 *@
					<li class=" content-form-item">
						@* 上傳按鈕 A1 *@
						<div class="upload__title">
							<p> 上傳作品</p>
							@* 活動開放中+從未報名過 可以上傳作品 *@
							@if (Model.JoinState == "開放中" && Model.ApplySongs.Count < 1)
							{
								<label class="upload__item-file">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cloud-arrow-up-fill" viewBox="0 0 16 16">
										<path d="M8 2a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 6.095 0 7.555 0 9.318 0 11.366 1.708 13 3.781 13h8.906C14.502 13 16 11.57 16 9.773c0-1.636-1.242-2.969-2.834-3.194C12.923 3.999 10.69 2 8 2m2.354 5.146a.5.5 0 0 1-.708.708L8.5 6.707V10.5a.5.5 0 0 1-1 0V6.707L6.354 7.854a.5.5 0 1 1-.708-.708l2-2a.5.5 0 0 1 .708 0z" />
									</svg>
								</label>
							}
						</div>

						@* 顯示已報名的作品 *@
						<ol class="upload__list">
							@if (Model.ApplySongs.Count <= 0)
							{
								<li>目前沒有任何歌曲</li>
							}
							else
							{
								@foreach (var item in Model.ApplySongs)
								{
									<li class="upload__item" data-songid="@(item.SongId)">
										<span class="upload__item-title">@(item.SongName)</span>
										@* 歌曲封面縮圖 *@
										<img src="@(item.CoverPhotoPath)" class="content-form-list-sm-img" />
									</li>
								}
							}
						</ol>


						@* 上傳作品的彈窗 A1*@
						<div class="popup__select-works">
							<div class="popup__select-works-title">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-arrow-up-fill" viewBox="0 0 16 16">
									<path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0M9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1M6.354 9.854a.5.5 0 0 1-.708-.708l2-2a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 8.707V12.5a.5.5 0 0 1-1 0V8.707z" />
								</svg>
								上傳現有作品
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x icon__close icon__close-pop" viewBox="0 0 16 16">
									<path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
								</svg>
							</div>

							@* 彈窗上方顯示區:勾選的歌曲 *@
							<div class="popup__select-works-chosen">
								<ol class="popup__select-works-chosen-ol">
									@foreach (var item in Model.ApplySongs)
									{
										@if (item.SelectionDetailId != 0)
										{
											<li data-songid="@item.SongId">
												@(item.SongName) &nbsp;
												<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x icon__close icon__close-data" viewBox="0 0 16 16">
													<path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
												</svg>
											</li>
										}
									}
								</ol>
							</div>

							@* 彈窗下方顯示區: 顯示所有歌曲 *@
							<div class="popup__select-works-list">
								<ol>
									@if (Model.Songs.Count <= 0)
									{
										<li class="text-secondary">&nbsp;目前沒有任何歌曲</li>
									}
									else
									{
										@foreach (var item in Model.Songs)
										{
											<li class="border-bottom ">
												<label>
													<input type="checkbox" class="popup__select-works-input" data-songid="@(item.SongId)" />&nbsp;
													<span>@(item.SongName)</span>
												</label>
											</li>
										}
									}
								</ol>
							</div>
							<div class="popup__select-works-button">
								<button class="btn btn-submit--theme" data-selectionId="@(Model.SelectionId)">儲存</button>
							</div>
						</div>
					</li>

				</ol>
				@* 大頭照 *@
				<div class="content-form-img">
					<img src="@(Model.AvatarPath)" />
				</div>

			</div>
		</div>
		<div class="form-button">
			@if (Model.JoinState == "開放中" && Model.ApplySongs.Count < 1)
			{
				<button class="btn btn-submit--theme submit-forn-btn">送出</button>
			}

		</div>
	</div>
</section>
<div class="overlay">
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script>
	
		//已選擇作品LIST
		var chosenUploadList=[];

		$(document).ready(function() {

		   var SelectionId = '@(Model.SelectionId)';
			console.log("chosenUploadList");
			console.log(chosenUploadList);
			$('.popup__select-works-chosen-ol li').each(function() {
				// 取得 data-songid 和歌曲名稱
				let songId = $(this).data('songid');
				let songName = $(this).text().trim();

				// 將每個歌曲的資料加入到陣列中
				chosenUploadList.push({ songid: songId, songName: songName });
			});

			/* 點選上傳按鈕顯示彈窗 並 加入畫面上已上傳歌曲
			 * 顯示/隱藏彈窗和 overlay*******/
			$(".upload__item-file").on("click", function(){
				$(".popup__select-works").fadeIn();
				$(".overlay").fadeIn();


			});
			$(".icon__close-pop, .btn-submit--theme").on("click", function(){
				$(".popup__select-works").fadeOut();
				$(".overlay").fadeOut();
			});
			



			/****當音樂上傳 勾選狀態改變時****/
			$(".popup__select-works-input").on("change", function() {

				//取得音樂的ID
				const songid = $(this).data("songid");

				//取得音樂的名稱(選取器 取得同層的 <span> 文字)
				const songName = $(this).siblings("span").text();

				//當[勾選]時，加入陣列
				if ($(this).prop("checked")) {

						//將 音樂物件 加入 被選擇清單中
						chosenUploadList.push({ songid: songid, songName: songName })

						//動態加項目 到 [被選擇清單列表chosen]
						$(".popup__select-works-chosen-ol").append(`
							<li data-songid="${songid}">
								${songName} &nbsp;
								<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x icon__close icon__close-data" viewBox="0 0 16 16">
									<path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
								</svg>
							</li>
						`);
							$(".popup__select-works-chosen-ol li").last().css({
								"margin": "5px",
								"background-color": "darkgray",
								"border-radius":"5px",
								"font-size":"20px",
								"padding":"5px"
							});

						$(".popup__select-works-chosen-ol li svg").last().css("cursor", "pointer");
						$(".popup__select-works-chosen-ol li svg").last().hover(
							function () {
								$(this).css("transform", "scale(1.2)");
							},
							function () {
								$(this).css("transform", "scale(1)");
							}
						);
						console.log(chosenUploadList);
				}
				else {
						// 當[取消勾選]時，從陣列中移除該項目
						chosenUploadList = chosenUploadList.filter(function(item) {
							return item.songid !== songid;
						});

						console.log(chosenUploadList);
						// 從畫面上動態移除
						$(".popup__select-works-chosen-ol li[data-songid='" + songid + "']").remove();

				}
			});


			/*****移除 [被選擇的音樂] 則從陣列中移除該項目*******/
			$(".popup__select-works-chosen-ol").on("click", ".icon__close-data", function() {

				const songid = $(this).closest("li").data("songid"); // 取得對應的項目

				// 從陣列中移除該項目
				chosenUploadList = chosenUploadList.filter(function(item) {
					return item.songid !== songid;
				});

				// 從被選擇清單列表移除該項目
				$(this).closest("li").remove();
				console.log("被選擇的音樂");
				console.log($(`.popup__select-works-list input[type="checkbox"][data-songid="${songid}"]`));
				// 取消對應的 checkbox 選取狀態
				$(`.popup__select-works-list input[type="checkbox"][data-songid="${songid}"]`).prop("checked", false);
			});


			/*****作品確認上傳 =>將勾選清單加入畫面上的清單******/
			$(".popup__select-works-button > .btn-submit--theme").on("click",function(){
					console.log(chosenUploadList);
					// 清掉畫面上顯示的清單
					$(".upload__list").empty();

					//重新加入到畫面上
					for (let i = 0; i < chosenUploadList.length; i++) {

						const songid =chosenUploadList[i]["songid"];
						const songName =chosenUploadList[i]["songName"];

					// 將清單顯示到畫面上
					$(".upload__list").append(`
						<li class="upload__item"  data-songid="${songid}">
							<span class="upload__item-title">${songName}</span>
							<img src="/image/selection/voteAD.png" class="content-form-list-sm-img" />
							<span class="content-form-list-sm-img-filename"></span>
						</li>
					`);
						$(".upload__list li").last().css({
							"margin": "5px",
							"display": "flex",
							"align-items": "center",
							"margin-bottom": "5px",
							"font-size": "20px",
							"height": "30px",
							"border-bottom": "1px solid gray",
							"padding-bottom": "5px",
							"color":"darkgoldenrod"
						});
						$(".upload__list li label").css({
							"width": "80px",
							"background-color": "#4CAF50",
							"width": "80px",
							"height": "100%",
							"margin":" 5px",
							"border-radius": "5px",
							"color": "aliceblue",
							"font-weight": "bold",
							"text-align": "center",
							"cursor":"pointer",
							"margin-left":"auto"
						});
						$(".content-form-list-sm-img").last().css({
							"transition": "transform 0.3s ease-in-out",
							"width": "25px",
							"height": "25px",
							"border-radius":" 2px",
							"margin-left": "auto",
							"cursor":"pointer"
						});
						$(".content-form-list-sm-img").last().hover(
							function () {
								$(this).css("transform", "scale(3)");
							},
							function () {
								$(this).css("transform", "scale(1)");
							}

						);
					}
				});
	
			$(".submit-forn-btn").on("click", function(){

				if(chosenUploadList==null||chosenUploadList.length<1){
					alert("請選擇作品上傳");
					return;
				}
				console.log(chosenUploadList);
				var data = {
					"UserName": $(".input-name").text(),
					"Email": $(".input-email").text(),
					"SongsId": chosenUploadList.map(song => song.songid), // 取出 songId 陣列
					"SelectionId": SelectionId
				};

				console.log("data",data);
				$.ajax({
					method: "post",
					url: "/Selection/SubmitApplication",
					data: JSON.stringify(data),
					contentType: "application/json",
					processData: false,
					success: function(res) {
						alert(res.message);
					},
					error: function(err) {
						alert(res.message);
					}
				});
			});
	});

	

</script>

