
@model IEnumerable<VocalSpace.Models.ViewModel.Selection.SelectionSongs>
<section class="card-container">
	@foreach (var item in Model)
	{
		<div class="card__item  card__item-music">
			<div class="card__img-box" >
				<img class="card__img" src="@(item.CoverPhotoPath)" />
				@* 撥放 & 暫停按鈕 *@
				<svg data-songid=@item.SongId class="card-icon__play-circle bi bi-play-circle" xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="white" viewBox="0 0 16 16">
					<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
					<path d="M6.271 5.055a.5.5 0 0 1 .52.038l3.5 2.5a.5.5 0 0 1 0 .814l-3.5 2.5A.5.5 0 0 1 6 10.5v-5a.5.5 0 0 1 .271-.445" />
				</svg>
@* 				<svg data-songid=@item.SongId class="card-icon__stop-circle bi bi-stop-circle-fill" xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="white" viewBox="0 0 16 16">
					<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
					<path d="M5 6.5A1.5 1.5 0 0 1 6.5 5h3A1.5 1.5 0 0 1 11 6.5v3A1.5 1.5 0 0 1 9.5 11h-3A1.5 1.5 0 0 1 5 9.5z" />
				</svg> *@
			</div>
			<h6>@(item.SongName)</h6>

			<section class="icon-container ">
				<button class="btn btn-outline-secondary btn-circle btn-vote-to-selectionSong @(item.IsVoted == true ? "selected" : "")" data-selectionDetailId=@item.SelectionDetailId title="投票">
					<i class="bi bi-hand-thumbs-up-fill"></i>
					<span class="VoteCount" data-selectionDetailId=@item.SelectionDetailId>@item.VoteCount</span>
				</button>
				<button class="btn btn-outline-secondary btn-circle btn-share-song" data-songid=@item.SongId title="分享">
					<i class="bi bi-share"></i>
				</button>
				<button class="btn btn-outline-secondary btn-circle btn-add-to-playlist" data-songid=@item.SongId title="新增">
					<i class="bi bi-plus-lg"></i>
				</button>
				<button class="btn btn-outline-secondary btn-circle btn-add-to-Likesong @(item.IsLiked==true?"selected":"")" data-songid=@item.SongId title="喜歡">
					<i class="bi bi-heart-fill"></i>
					<span class="likeCount" data-songid=@item.SongId>@item.LikeCount</span>
				</button>
			</section>
		</div>
	}
</section>

<style>
	.card-container {
		/* padding: 70px 20px 10px 20px; */
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		/* background-color: var(--bg-color); */
		color: var(--text-color);
	}

	.card__item {
		border: 1px solid #ccc;
		padding: 10px;
		margin: 30px;
		border-radius: 5px;
		background-color: #f9f9f9;
		color: black;
		width: 300px;
		height: 340px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.card__img-box, .card__img {
		width: 230px;
		height: 230px;
		margin-bottom: 10px;
		border-radius: 5px;
	}

	.card__img-box {
		position: relative;
		cursor: pointer;
	}

	.card__img {
		height: 100%;
		object-fit: cover; /*放大圖片填滿*/
	}

	.card__item h6 {
		font-weight: bold;
	}

	.card__item p {
		font-size: var(--fsize-menu);
		margin: 0px;
	}

	/* 預設隱藏圖示 */
	.card-icon__play-circle, .card-icon__stop-circle {
		position: absolute;
		top: 42%;
		left: 42%;
		/* transform: translate(-50%, -50%); */
		display: none;
		transition: opacity 0.3s ease-in-out;
	}

	/* 當滑鼠 hover 到圖片容器時顯示 icon */
	.card__img-box:hover .card-icon__play-circle {
		display: block;
	}






	.icon-container {
		width: 100%;
		height: 20px;
		display: flex;
		justify-content: center;
	}


	.btn {
		padding: 10px 20px;
		border-radius: 8px;
		cursor: pointer;
		border: none;
		font-size: 16px;
		justify-content: right;
		height: 40px;
	}


	.addbtn-cancel {
		margin-left: 170px;
		background: #f0f0f0;
		margin-right: 12px;
		justify-content: right;
	}

	.addbtn-confirm {
		margin-left: 15px;
		background: #f0f0f0;
		justify-content: right;
	}

	.addbtn-newPlaylist {
		background: #ff4d4f;
		color: white;
		border: none;
		padding: 10px 18px;
		border-radius: 8px;
		cursor: pointer;
		font-size: 14px;
	}
</style>