@model VocalSpace.Models.ViewModel.Global.SongButtonViewModel
@{
}
<div>
    <button class="btn btn-outline-secondary btn-add-to-playlist" data-songid="@Model.SongId"><i class="bi bi-plus-lg"></i></button>
    <button class="btn btn-outline-secondary btn-share-song" data-songid="@Model.SongId"><i class="bi bi-share"></i></button>
    <button class="btn btn-outline-secondary heart btn-add-to-Likesong" data-songid="@Model.SongId"><i class="bi bi-heart-fill"></i>@Model.LikeCount</button>
    <button class="btn btn-outline-secondary btn-play" data-songname="@Model.SongName"><i class="bi bi-play"></i></button>
</div>