@model IEnumerable<VocalSpace.Models.ViewModel.Personal.PersonalViewModel>

@{
    Layout = "_PersonalLayout";  
    var mylist = ViewData["mylist"] as List<VocalSpace.Models.ViewModel.Song.SongViewModel>;
}
<nav class="menu" id="myList">
    <a href="/Personal/mymusic/@Model.FirstOrDefault()!.UserId">音樂</a>
    @if (Model.FirstOrDefault()!.CurrentUserId == Model.FirstOrDefault()!.UserId) { 

        <a href="/Personal/mylist/@Model.FirstOrDefault()!.UserId" class="active">歌單</a>
        <a href="/Personal/mylike/@Model.FirstOrDefault()!.UserId">喜歡</a>
    }
    <a href="/Personal/myabout/@Model.FirstOrDefault()!.UserId">關於</a>
</nav>
@if (mylist != null)
{
    <div class="playlist">
        <div class="playlist-card">

            <h2>歌單</h2>
            @foreach (var item in mylist)
            {
                <div class="ranking-item">
                    <a asp-action="listdetail" asp-route-id="@item.PlayListId">
                        <img src="@item.PlayListCoverImagePath" alt="song cover">
                </a>

                <div class="listinfo">
                        <a asp-action="listdetail" asp-route-id="@item.PlayListId"><p class="song">@item.PlayListName</p></a>
                        <p class="artist">@item.PlayListSongCount 首歌曲．<a href="/Personal/mymusic/@item.UserId">@item.UserName</a></p>
                </div>

                <button class="btn btn-outline-secondary deletelist" data-bs-toggle="modal"
                data-bs-target="#exampleModal"><i class="bi bi-trash"></i></button>
                <button class="btn btn-outline-secondary editlist" onclick="editlist()"><i
                    class="bi bi-pencil-square"></i></button>
                <button class="btn btn-outline-secondary book"><i class="bi bi-bookmark-check-fill"></i></button>
                <button class="btn btn-outline-secondary random"><i class="bi bi-shuffle"></i></button>
            </div>

            }
        </div>
    </div>
}
else
{
    <h2 class="no-data">尚未建立歌單</h2>
}

    <!-- 刪除歌單彈窗 -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content webtheme">
                <div class="modal-header">
                    <h2 class="modal-title" id="exampleModalLabel">刪除</h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    你確定要刪除這個歌單？
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-secondary">確定</button>
                </div>
            </div>
        </div>
    </div>

